{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<style>
td {
  width: 25%;
  text-align: center;
  border: solid 1px;
  padding: 20px;
}
</style>

    <div>
        <h1 class="text-center mt-3 mb-3">Mon coffre fort</h1>
    </div>

    {% if user != 'user.username' %}


        <table>
            <tr>
                <td>Site</td>
                <td>Enregistrer le</td>
                <td>MDP généré</td>

                <td></td>
            </tr>

            {% for i in items %}
            <tr>
                <td>{{ i.site }}</td>
                <td>{{ i.date }}</td>
                <td>{{ i.passwords }}</td>

                <td>
                    <a href="{% url 'deleterecord' i.id %}">
                        <button type="button" class="btn btn-danger btn-sm">Supprimer</button>
                    </a>
                </td>

            </tr>
                {% endfor %}
        </table>
{% endif %}

{% endblock %}
