{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<style>
td {
  width: 30%;
  text-align: center;
  border: solid 1px;
  padding: 20px;
}
</style>
    <div>
        <h1 class="text-center">Mon coffre fort</h1>
    </div>
    {% for user_data in users %}
        <td>{{ user_data.url_origin }}</td>
        <td>{{ user_data.date_enr }}</td>
        <td>{{ user_data.passwords_generate }}</td>
        <td>
            <a href="{% url 'deleterecord' user_data.user.id %}">
                <button type="button" class="btn btn-danger btn-sm">Supprimer</button>
            </a>
        </td>
    {% endfor %}


    {% if user != 'user.username' %}

        {% for i in items %}
        <table>
            <tr>
                <td>Site</td>
                <td>Enregistrer le</td>
                <td>MDP généré</td>
                <td>User</td>
                <td></td>
            </tr>

            <tr>
                <td>{{ i.site }}</td>
                <td>{{ i.date }}</td>
                <td>{{ i.passwords }}</td>
                <td>{{ i.user }}</td>

                <td>
                    <a href="{% url 'deleterecord' i.id %}">
                        <button type="button" class="btn btn-danger btn-sm">Supprimer</button>
                    </a>
                </td>

            </tr>
        </table>
    {% endfor %}
{% endif %}

{% endblock %}
