{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<style>
.content > form:nth-child(1) {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  margin: auto;
}
</style>
    <div>
        <form method="POST" class="form-search">
            {% csrf_token %}
            <label for="site">Pour le site :</label>
                <input type="text" name="site" id="site">

            <input type="submit" class="btn btn-success" value="Rechercher">
        </form>
    </div>

    <div>
        <h1 class="text-center mt-5 mb-5">Generer un mdp</h1>
    </div>

    <div class="content">
        <form method="POST">
            {% csrf_token %}
            <label for="site">Nom du site :</label>
                <input class="mb-4 mt-2" type="text" name="site" id="site">

            <label for="lenght">Nombre de caractères :</label>
                <input class="mb-4 mt-2" type="text" name="length" id="lenght" placeholder="length of password">

            <input class="btn btn-success btn-generer" type="submit" value="Générer">
        </form>
    </div>

{% endblock %}
