{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4 text text-light">Bienvenue, {{user.username.title|default:'invité'}}</h1>
        <p class="lead">
            Il s'agit d'un <b>système d'enregistrement et de connexion</b>  des utilisateurs de passGen.
            <br>
            Connectez-vous ou inscrivez-vous afin d'utiliser le meilleur gestionnaire de mot de passe.
        </p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Déconnexion</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Connexion</a>
                <a class="btn btn-secondary btn-lg" href="{% url 'users-register' %}" role="button">Inscription</a>
            {% endif %}
        </p>
    </div>

{% endblock content %}